{% extends 'base.html.twig' %}

{% block title %}Mon Blog - {{ category.name }}{% endblock %}

{% block body %}

  <div class="breadcrumb">
        <a href="/category/list">Toutes nos catégories</a> >
        <a href="/category/view/{{ category.name }}">{{ category.name }}</a>
    </div>
    <h1>Articles de {{ category.name }}</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="/post/view/{{ post.slug }}">{{post.title}}</a>
            </li>
        {% endfor %}
    </ul>   
{% endblock %}
